@import '../_global.scss';

.section2 {
  @include sections;
  position: relative;
  top: 993px;
  padding: 5%;
}

.textpresentation {
  margin: 7%;
}

.presentation1,
.presentation2,
.presentation3 {
  @include headersections;
  font-size: 129.792px;
  line-height: 130px;
  opacity: 0.3;
}

.presentation2 {
  text-align: center;
}

.presentation3 {
  text-align: right;
}

.shoepair {
  position: absolute;
  left: 50%;

  background-color: transparent;
  margin-left: -350px;
  margin-top: -65px;
  z-index: 1;
}
