@import '../_global.scss';

.section2 {
  @include sections;
  top: 993px;
}

.textpresentation {
  margin: 7%;
}

.presentation1,
.presentation2,
.presentation3 {
  @include headersections;
  font-size: 129.792px;
  line-height: 130px;
  opacity: 0.3;
}

.presentation2 {
  text-align: center;
}

.presentation3 {
  text-align: right;
}
