@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Stardos+Stencil&family=Yusei+Magic&display=swap');

$altbackground: #bebebe;
$mainbackground: #006c79;
$whitetext: #ffffff;
$otherbackground: #007d8b;
$bgbutton: #f8f8f8;
$bgfooter: #f6835f;
$greytext: #b3b3b3;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

ul {
  font-family: 'Yusei Magic', cursive, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-decoration: none;
}

@mixin headermedium {
  font-family: 'Yu Gothic', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 64px;
  color: #121212;
}

@mixin styleofbtn {
  font-family: 'Yu Gothic', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  color: #ffffff;
  width: 194px;
  height: 58px;
  border-radius: 30px;
  cursor: pointer;
}

@mixin ellipsespos {
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: transparent;
}

@mixin headersections {
  font-family: 'Stencil', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  color: #121212;
}

@mixin sections {
  position: absolute;
  width: 100%;
  left: 0px;
  padding: 0;
  background-color: $mainbackground;
}

@mixin stencil {
  font-family: 'Stencil', sans-serif;
  font-style: normal;
  font-weight: 400;
}
