.section1 {
  height: 100%;
  position: relative;
}

.shoes {
  position: absolute;
  width: 712px;
  height: 902px;
  left: 50%;
  top: 50%;
  margin-left: 537px;
  margin-top: -61px;
  z-index: 2;
}

.ellipselr {
  background-color: transparent;
  position: absolute;
  min-width: 100%;
  height: 930.79px;
  left: 1115px;
  top: -31px;
  z-index: 1;
}

.ellipsewhite {
  position: absolute;
  min-width: 100%;
  height: 455px;
  left: 1383px;
  top: 178px;
  z-index: 4;
}

.ellipsem {
  background-color: transparent;
  position: absolute;
  width: 100px;
  height: 100px;
  left: 50%;
  top: 50%;
  margin-left: 602px;
  margin-top: 511px;
  opacity: 0.8;
}

.ellipses {
  background-color: transparent;
  position: absolute;
  width: 37px;
  height: 37px;
  left: 50%;
  top: 50%;
  margin-left: 802px;
  margin-top: 111px;
}
