$mainbackground: #006c79;

.section1 {
  height: 100%;
  position: relative;
}

.shoes {
  position: absolute;
  width: 712px;
  height: 902px;
  left: 50%;
  top: 50%;
  margin-left: -200px;
  margin-top: -45px;
  z-index: 2;
}

.ellipselr {
  background-color: transparent;
  position: absolute;
  height: 930.79px;
  left: 50%;
  top: 50%;
  z-index: 1;
}

.ellipsewhite {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 455px;
  margin-left: 430px;
  top: 178px;
  z-index: 4;
}

.ellipsem {
  background-color: transparent;
  position: absolute;
  width: 100px;
  height: 100px;
  left: 50%;
  top: 50%;
  margin-left: -202px;
  margin-top: 511px;
  opacity: 0.8;
}

.ellipses {
  background-color: transparent;
  position: absolute;
  width: 37px;
  height: 37px;
  left: 50%;
  top: 50%;

  margin-top: 111px;
}
