.boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.selections {
  cursor: pointer;
}

.numberIconsRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 220px;
}

.ratings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2%;
}

.thumbnails {
  padding: 5px;
  display: inline;
}