.logo {
  padding: 15%;
}

ul {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  gap: 15%;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 3;
  background: -webkit-gradient(linear, right top, left top, color-stop(-5.04%, #ffffff), color-stop(111.05%, rgba(0, 125, 139, 0.09)));
  background: linear-gradient(270deg, #ffffff -5.04%, rgba(0, 125, 139, 0.09) 111.05%);
  border-radius: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}