.section1 {
  height: 100%;
  position: relative;
}

.shoes {
  position: absolute;
  margin-left: -165px;
  margin-top: -30px;
  left: 50%;
  top: 50%;

  margin-top: -61px;
  z-index: 2;
}

.ellipselr {
  background-color: transparent;
  position: absolute;
  margin-left: 100px;
  left: 50%;
  top: 50%;
  z-index: 1;
}

.ellipsewhite {
  position: absolute;
  margin-left: 510px;
  top: 178px;
  z-index: 4;
}

.ellipsem {
  background-color: transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: 511px;
  opacity: 0.8;
}

.ellipses {
  background-color: transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: 111px;
  margin-left: 100px;
}
