@import url("https://fonts.googleapis.com/css2?family=Stardos+Stencil&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1&family=Stardos+Stencil&family=Yusei+Magic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stardos+Stencil&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1&family=Stardos+Stencil&family=Yusei+Magic&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

ul {
  font-family: "Yusei Magic", cursive, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  text-decoration: none;
}

.sectionfooter {
  position: absolute;
  width: 100%;
  left: 0px;
  padding: 0;
  background-color: #006c79;
  background: #f6835f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5%;
  padding-top: 5%;
}

ol {
  list-style: none;
}

ol li:first-child,
li {
  font-family: "Yu Gothic", sans-serif;
  font-style: normal;
  text-align: center;
  color: #ffffff;
}

ol li:first-child {
  font-weight: 700;
  font-size: 36px;
  line-height: 58px;
}

li {
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  text-align: left;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

ul {
  font-family: "Yusei Magic", cursive, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  text-decoration: none;
}

.section6 {
  position: absolute;
  width: 100%;
  left: 0px;
  padding: 0;
  background-color: #006c79;
  background: #f6835f;
  top: 5400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}